
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account admin login</title>
  <link href="/img/the new p.jpg" rel="icon fluid">
<link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<!-- <link href="/css/login.css" rel="stylesheet"> -->


<style>

  .inner{
    background-clor: #780000;
    background-color: rgb(183, 29, 121);

  }

  .welcomeAdmin{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    font-style: oblique;
  }

</style>



</head>

<body>

<!-- second -->

<section>


  <div class="container-fluid mt-5" >
    <div class="row align-items-center justify-content-center 
           row-cols-1 row-cols-md-4 g-4 " >
       <div class="col col-6 col-lg-2 col-xl-3 ">
        <div class="text-info">Welcome To Probity Library Mgt System</div>
         <div class="card h-10" id="border">
            <div class="card-body bg-light ">
        <center>  <img src="/img/probity.jpg" style="width: 100px; margin:10px;" alt="" class="img-fluid"> <i class="text-danger">LMS</i> </center>

         
           <form name="" action=""  method="post" authenticate>
                   
             <center>
                  <div> <h3 class="mb-3 mt-4 text-primary">Sign in as Admin</h3></div>

                  <div>
                      <label class="form-label text-danger" for="typeEmailX-2" id="user_name" style="padding-right: 18rem" ><b> Email </b></label>
                      <input type="email" name="email" style="width:13rem; margin:0px 20px;"  id="typeEmailX-2" placeholder="Email OR Username" class="form-control form-control-sm"  />
                   </div>

                  <div class="mb-3 mt-4">
                    <label class="form-label text-danger" for="typePasswordX-2" id="pass_word" style="padding-right: 17rem"><b> Password </b></label>
                    <input type="password" name="password" style="width:13rem; margin:0px 20px;" id="typePasswordX-2" placeholder="" class="form-control form-control-sm" required />
                  </div>   


                  <div class="form-check d-flex justify-content-start mb-4 mt-3 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                    <label class="form-check-label text-danger" for="form1Example3"> <b> Remember password </b> </label>
                  </div>

                  <div>
                    <input  type="submit"  class="btn btn-outline-success justify-content-center w-15 mb-3" value="login" id="log-in"/>
                  </div>             
                   
                 <div>
                   <p>  Not an Admin ?  <a href="/login"><b> SignIn Here </b></a> </p>
                </div>

         </center>
      </form>
              
            </div>
         </div>
       </div>
    </div>
</div>

</section>

</body>
</html>


