<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About - Probity library management system</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/the new p.jpg" rel="icon fluid">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: PROBITY
  * Updated: APRIL 10 2023 with Bootstrap v5.2.3
  * Template URL: https://ProbityLMS.com/probity-free-education-bootstrap-theme/
  * Author: Probity.com
  * License: https://Probity.com/license/
  ======================================================== -->
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a href="/user/home" class="logo me-auto"><img src="/img/probity.jpg" alt="" class="img-fluid"> <i class="text-danger">LMS</i> </a>    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" href="/user/home">Home</a></li>
        <!-- <li> <a href="https://www.jstor.org/images">jstor</a> </li> -->
        <li><a href="/user/about">About</a></li>
        <li><a href="/user/program">Programmes</a></li>
        <li><a href="/user/lecturer">Lecturers</a></li>
        <li><a href="/user/loan">Loan</a></li>
        <li><a href="/user/opac">OPAC</a></li> 

        <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Simple search</a></li>
            <li class="dropdown"><a href="#"><span>Advanced search</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="/user/searchAuthor">Search by Author</a></li>
                <li><a href="/user/searchSubject">Search by Subject</a></li>
                <li><a href="/user/searchYear">Search by Year</a></li>
              </ul>
            </li>
              <!-- <li><a href="#why-us">Faculty</a></li> -->
            </li>
          </ul>
        </li>

        <li class="dropdown"><a href="#"><span>Sign in</span></a>
          <ul>
            <li><a href="/login">User/Student</a></li>
            <li><a href="/admin/login"><span>Admin</span></a></i>

          </ul>
        </li>   
          
      <li><a href="/signUp">Sign up</a></li>
    </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    

    <!-- <a href="courses.html" class="get-started-btn">Search</a> -->

  </div>
</header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p><b> We are looking forward to be number one web based application for 
           automated library management system provider.</b> </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img/the p2.jpg" class="img-fluid" alt="" width="500rem" style="border-right: solid hsl(0, 100%, 50%);">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style="color: hsl(0, 100%, 50%);">Probity  Library Management System</h3>
            <p class="fst-italic">
              From probitious point of view, at our library management system user experience 
              is highly prioritized, And we offer the following for the conveniency of users:
            </p>
            <ul>
              <li><i class="bi bi-check-circle text-danger"></i> Free access to pdf books and journals.</li>
              <li><i class="bi bi-check-circle text-danger"></i> Non stopped hour of operation for every day.</li>
              <li><i class="bi bi-check-circle text-danger"></i> Adoption of high friendly user interface.</li>
            </ul>
           

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Programmes</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
            <p>Number of books</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Faculty</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <div class="container-fluid">
      <div>
          <!-- <img src="newBldn.jpg" alt="building" style="width:100%; height: 18rem;"> -->
          <br>
          <B style="font-size: larger; margin-bottom:6px;"> <b> <center> VISION | Mission | Core Values </center></b></B> 
      </div> <br>
    </div>
    
    <div class="container-xl fw-bold" style="margin-bottom: 30px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card h-100">
            <p style="background-color: rgb(138, 125, 139); color: white;">Our Vision</p>
              <div class="card-body">
                  <p class="card-text"><b> To promote easy accessibility of library materilas and embrace the use of digital library system.</b> </p>
              </div>
              
          </div>
      </div>
    
      <div class="col">
          <div class="card h-100">
            <p style="background-color:rgb(138, 125, 139); color: white;">Mission Statement</p>
              <div class="card-body">
                  <p class="card-text"><b> Our mission is to embrace lifelong learning in an 
                      open and caring atmosphere that motivates library users to be educated 
                      and well responsible for the continuity of the use library. As a digitalized, we will deliver
                       on our promise to all of our clients </b> </p>
              </div>
              
          </div>
      </div>
    
      <div class="col">
          <div class="card h-100 ">
            <p style="background-color:rgb(138, 125, 139); color: white;">Our Aim</p>
              <div class="card-body">
                  <p class="card-text"> <b> 
                      <b> To lead holistic, inclusive, innovative world
                      class education in Africa. </b></p>
                      
              </div>
          </div>
      </div>
    </div>
    </div>
    
    
    
    <div class="container-xl fw-bold" style="margin-bottom: 30px;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
          <div class="card h-100">
            <p style="background-color: rgb(138, 125, 139); color: white;">Working Hours</p>
              <div class="card-body">
                  <p class="card-text"><b> Knock at your conveniency; and it shall be opened !</b> </p>
              </div>
              
          </div>
      </div>
    
      <div class="col">
          <div class="card h-100">
            <p style="background-color: rgb(138, 125, 139); color: white;">Our Code of Conduct</p>
              <div class="card-body">
                  <p class="card-text"><b>Not giving any precedence to injustice, we promise to serve you in as much as you maintain integrity.</b> </p>
              </div>
              
          </div>
      </div>
    </div>
    </div>
    
    
    
    <div class="container-xl fw-bold" style="margin-bottom: 30px;">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
          <div class="card h-100">
            <p style="background-color:rgb(138, 125, 139); color: white;">Our Core Values</p>
              <div class="card-body">
                  <p class="card-text">
                   <ul>
                      <li>Learning Resources</li>
                      <li>Respect</li>
                      <li>Integrity</li>
                      <li>Lending</li>
                      <li>Sustainability</li>
                   </ul></b> </p>
              </div>
          </div>
      </div>
    </div>
    </div>
    
    
    <!-- End of Mission -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p><h4>What students are saying</h4></p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Raheem Waliu</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Adewuyi Rahmon</h3>
                  <h4>Architect</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Oladiti Adewale</h3>
                  <h4>Mechanical Engineer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Yekeen Shuayb</h3>
                  <h4>Software Engineer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Asimiyu Ridwan</h3>
                  <h4>Fullstack developer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
                        
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Probity</h4>
            <p>
              Km 30 waliu Street <br>
              Igboora, OY 535022<br>
              Oyo States <br><br>
              <strong>Phone:</strong> +234 808 832 0430<br>
              <strong>Email:</strong> waliuraheem5@gmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
  
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/program">Services</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/program">Programmes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/loan">Library loan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/opac">OPAC</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Probity</span></strong>. All Rights Reserved
        </div>
    
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>