<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Programmes - Probity LMS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

   <!-- =======================================================
  * Template Name: PROBITY
  * Updated: APRIL 10 2023 with Bootstrap v5.2.3
  * Template URL: https://ProbityLMS.com/probity-free-education-bootstrap-theme/
  * Author: Probity.com
  * License: https://Probity.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/user/home" class="logo me-auto"><img src="/img/probity.jpg" alt="" class="img-fluid"> <i class="text-danger">LMS</i> </a>      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/user/home">Home</a></li>
        <!-- <li> <a href="https://www.jstor.org/images">jstor</a> </li> -->
        <li><a href="/user/about">About</a></li>
        <li><a href="/user/program">Programmes</a></li>
        <li><a href="/user/lecturer">Lecturers</a></li>
        <li><a href="/user/loan">Loan</a></li>
        <li><a href="/user/opac">OPAC</a></li>

          <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Simple search</a></li>
              <li class="dropdown"><a href="#"><span>Advanced search</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/user/searchAuthor">Search by Author</a></li>
                  <li><a href="/user/searchSubject">Search by Subject</a></li>
                  <li><a href="/user/searchYear">Search by Year</a></li>
                </ul>
              </li>
              <!-- <li><a href="#why-us">Faculty</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Sign in</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/login">User/Student</a></li>
              <li><a href="/admin/login"><span>Admin</span></a></i>

            </ul>
          </li>   
            
        

        <li><a href="/signUp">Sign up</a></li>
      </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      

      <!-- <a href="courses.html" class="get-started-btn">Search</a> -->

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Programmes</h2>
          <p>
           Below are the list of shelves that exist in the Probity library management system
           click on any shelf of your choice and check for the available materials in the
           chosen shelf or programme.
          </p>
      </div>
    </div><!-- End Breadcrumbs -->

    

    <section id="features-1" class="features" >
      <div class="container" data-aos="fade-up"  >

        <div class="section-title" id="FacSci"> <br>
          <h2><b> Faculty of </b></h2>
          <p><h4> Natural & Applied Sciences </h4></p>
        </div>
      

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <a href="/user/Biochemistry">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Biochemistry</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/biotechnology">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Biotechnology</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/computerscience">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3>Computer Science</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/cyber">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Cyber Security</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/forensic">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Forensic Science</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/industrial">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3>Industrial Chemistry</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/maths">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3>Mathematics</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/microbiology">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3>Microbiology</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/physics">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3>Physics with Electronics</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/slt">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3>Science Laboratory Technology</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/software">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3>Software Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/statistics">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3>Statistics</h3>
            </div>
          </a>
          </div>
         
        </div>
      </div>
    </section><!-- End Features Section -->


    <section id="features-2" class="features">
      <div class="container" data-aos="fade-up" id="FacEng"> <br>

        <div class="section-title">
          <h2><b> Faculty of </b></h2>
          <p> <h4> Engineering</h4></p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <a href="/user/Agric">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Agricultural Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/biomedical">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Biomedical Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/electrical">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3>Electrical & Electronics Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/foodScience">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Food Science & Technology</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/mechanical">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Mechanical Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/mechatronics">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3>Mechatronics Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/petroleum">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3>Petroleum Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/computerEngr">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3>Computer Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/IndustrialProduction">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3>Industrial & Production Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/civil">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3>Civil Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/chemical">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3>Chemical Engineering</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3></h3>
            </div>
          </a>
          </div>
         
        </div>
      </div>
    </section> <!-- End Features Section -->


    <section id="features-3" class="features">
      <div class="container" data-aos="fade-up" id="FacEnv"> <br>

        <div class="section-title">
          <h2><b> Faculty of </b></h2>
          <p> <h4> Environmental Sci & Mgt.</h4></p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <a href="/user/architecture">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Architecture</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/buildingTech">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Building Technology</h3>
            </div>
          </a>
          </div>
          
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <a href="/user/estateMgt">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3>Estate Management</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/quantity">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Quantity Surveying</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a href="/user/urban">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Urban & Regional Planning</h3>
            </div>
          </a>
          </div>

          <div class="col-lg-3 col-md-4 mt-4">
            <a href="/user/survey">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3>Survey & Geoinformatics</h3>
            </div>
          </a>
          </div>
          
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Courses Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/Tech-U Background.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Natural Sciences</h4>
                <span>Physical Library</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/Library background.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Physical arrangement</h4>
                <span>Of Librarry materials</span>
                <p>
                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/techu_building.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Engineering & Technology</h4>
                <span>Physical library</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
                        
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Probity</h4>
            <p>
              Km 30 waliu Street <br>
              Igboora, OY 535022<br>
              Oyo States <br><br>
              <strong>Phone:</strong> +234 808 832 0430<br>
              <strong>Email:</strong> waliuraheem5@gmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
  
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/program">Services</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/program">Programmes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/loan">Library loan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin/opac">OPAC</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Probity</span></strong>. All Rights Reserved
        </div>
    
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>