<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/the new p.jpg" rel="icon fluid">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?
  family=Open+Sans:300,300i,400,400i,600,600i,700,
  700i|Raleway:300,300i,400,400i,500,500i,600,600i,
  700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/js/bootstrap.bundle.min.js">
  <link href="/vendor/jquery-3.6.0.js">

  <!-- Template Main CSS File -->
  <!-- <link href="/js/style.cs" rel="stylesheet"> -->
</head>

  <body>

      <div class="form-outline mb-4">
        <input type="search" class="form-control" id="datatable-search-input" placeholder="Search">
        <label class="form-label" for="datatable-search-input">Search</label>
      </div>

      <div id="datatable">
      </div>



<!-- <script>
    const data2 = {
        columns: ['Name', 'Position', 'Office', 'Age', 'Start date', 'Salary'],
        rows: [
          ['Tiger Nixon', 'System Architect', '	Edinburgh', 61, '2011/04/25', '$320,800'],
          ['Sonya Frost', 'Software Engineer', 'Edinburgh', 23, '2008/12/13', '$103,600'],
          ['Jena Gaines', 'Office Manager', 'London', 30, '2008/12/19', '$90,560'],
          ['Quinn Flynn', 'Support Lead', 'Edinburgh', 22, '2013/03/03', '$342,000'],
          ['Charde Marshall', 'Regional Director', 'San Francisco', 36, '2008/10/16', '$470,600'],
          ['Haley Kennedy', 'Senior Marketing Designer', 'London', 43, '2012/12/18', '$313,500'],
          ['Tatyana Fitzpatrick', 'Regional Director', 'London', 19, '2010/03/17', '$385,750'],
          ['Michael Silva', 'Marketing Designer', 'London', 66, '2012/11/27', '$198,500'],
          ['Paul Byrd', 'Chief Financial Officer (CFO)', 'New York', 64, '2010/06/09', '$725,000'],
          ['Gloria Little', 'Systems Administrator', 'New York', 59, '2009/04/10', '$237,500'],
        ],
      };
      
      const instance = new mdb.Datatable(document.getElementById('datatable'), data2)
      
      document.getElementById('datatable-search-input').addEventListener('input', (e) => {
        instance.input-group(e.target.value);
      });
</script> -->
<script src="/js/Quicksearch.js"></script>
<script src="/vendor/jquery-3.6.0.js"></script>


  </body>
  </html>