
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/img/the new p.jpg" rel="icon fluid">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/searchBar.css" rel="stylesheet">
</head>
<body>
   
                
                   
        
  

    <!-- <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div> <br> <br> -->
    
      <div class="real">
    <div class="container" bg="warning">
        <div class="input-group" >
          <input type="search" id="search" class="form-control rounded" placeholder="Search by Author" aria-label="Search" aria-describedby="search-addon"  />
          <button type="button" id="button" class="btn btn-outline-primary">search </button>
        </div>
      </div>
    </div> 

    <br><br><br>


    <div class="real2">
      <div class="input-group">
        <div class="form-outline">
          <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search OPAC" />
        </div>
        <button id="search-button" type="button" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <script src="/js/searchBar.js"></script>


      
<br><br>



</body>
</html>



