<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link href="/img/the new p.jpg" rel="icon fluid">
</head>
<body>
    


    <li class="dropdown"><a href=""><span>Sign in</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="login.html">User/Student</a></li>
          <li class="dropdown"><a href="/signUp"><span>Admin</span> <i class="bi bi-chevron-right"></i></a>
    </li>      

</body>
</html>